<div class="col-md-12 row">
      <h3 class="lead">Agencias</h3>      
      <table class="table table-striped text-center">
          <thead>
            <tr>
              <th hidden>ID</th>
              <th>Codigo Agencia</th>
              <th>Endereço</th>
              <th>Número</th>
              <th>
                <button type="button" class="btn btn-success btn-sm">
                  <i class="fa fa-plus"></i> Adicionar Agencia
                 </button>
              </th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let agencia of agencias">
                <td hidden>{{ agencia.id }}</td>
                <td>{{ agencia.cdAgencia }}</td>
                <td>{{ agencia.endereco.dsLogradouro }}</td>
                <td>{{ agencia.endereco.nrLogradouro  }}</td>
                <td>
                  <button type="button" class="btn btn-primary btn-sm" [routerLink]="['/agencia/edit', agencia.id]" routerLinkActive="router-link-active"><i class="fa fa-edit"></i></button>
                  <button type="button" class="btn btn-secondary btn-sm"><i class="fa fa-eye"></i></button>
                  <button type="button" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                </td>
              </tr>
          </tbody>
        </table>
  </div>
